$dark: #1e1e1e;
$light: #efefef;
$azmog: #8000ff;
$flowtech: #ffb525;

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

@import url("https://fonts.cdnfonts.com/css/varela-round-3");

$custom-theme-colors: (
	"azmog": $azmog,
	"flowtech": $flowtech,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

body {
	background: rgb(13, 5, 31);
	background: linear-gradient(69deg, rgba(13, 5, 31, 1) 15%, rgba(50, 14, 85, 1) 50%, rgba(52, 7, 56, 1) 86%);
	font-family: "Varela Round", sans-serif;
	-webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
	width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: $dark; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px; /* roundness of the scroll thumb */
	border: 3px solid $azmog; /* creates padding around scroll thumb */
}

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
//btn nav
.btn {
	border-radius: 1.5em;
}
//fin btn nav

.section {
	margin-left: 30px;
	margin-right: 30px;
}

.titre-adam-h1 {
	font-family: "Varela Round", sans-serif;
	font-size: 80px;
	font-style: normal;
	line-height: 80px;
}

.box-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-text {
	background-color: #7611a6;
	border-radius: 20px;
	padding: 5px;
	margin-right: 10px; /* Ajoutez de la marge à droite pour espacer du côté de l'image */
	color: #fff;
	display: flex;
	align-items: center;
	font-family: "Varela Round", sans-serif;
}

.text-anim {
	font-size: 35px;
}

.cv-buttons-container {
	display: flex;
	align-items: center;
}

.button-cv {
	margin-top: 5px;
	border-radius: 20px;
	padding: 8px;
	margin-right: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	font-family: "Varela Round", sans-serif;
	background-color: #3898ec;
	letter-spacing: 2px;
	font-size: 22px;
	text-transform: uppercase;
	box-shadow: 0 0 60px -10px #cd106e;
	transition: all 0.3s;
	text-decoration: none;
	max-width: 200px;
	white-space: nowrap;
}

.button-cv:hover {
	box-shadow: 0 8px 65px -5px #cd106e;
}

.intro-wrap {
	position: relative;
	text-align: left;
	flex-flow: column;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	margin-top: 100px;
	display: flex;
	overflow-x: hidden; /* Interdit le défilement horizontale */
}

.photo-wrap {
	border-radius: 20px;
	position: relative;
	text-align: left;
	flex-flow: column;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	margin-top: 100px;
	display: flex;
	overflow-x: hidden; /* Interdit le défilement horizontale */
}
//======================================================================================================

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: 1s;
	z-index: 1000; // Ajoutez cette ligne
}

nav.color {
	background: rgb(13, 5, 31);
	height: 80px;
	padding: 10px 50px;
}
nav .logo {
	float: left;
}
nav .logo img {
	height: 80px;
	transition: 0.5s;
}
nav.color .logo img {
	height: 60px;
}
nav > ul {
	width: 80%;
	margin: 0 auto;
	padding: 0;
	float: right;
}
nav > ul > li {
	list-style: none;
	display: inline-block;
}
nav > ul > li > a:hover {
	background: #f00;
	color: #fff;
}
nav > ul > li > a {
	color: #262626;
	text-decoration: none;
	text-transform: uppercase; /*for capitalisation of letters */
	line-height: 80px;
	padding: 5px 20px;
	transition: 0.5s;
}
nav.color > ul > li > a {
	color: #fff;
	line-height: 60px;
}

section.content {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

section.sec1,
section.sec2 {
	min-height: 100vh;
	background-size: cover;
}
//Fin de nav
//======================================================================================================
//DEBUT SECTION MOBILE
@media (max-width: 768px) {
	.intro-wrap {
		margin-top: 30px;
	}

	.responsive-bar {
		display: block;
		height: 60px;
		background: #262626;
		position: fixed;
		top: 0;
		left: 0;
		padding: 5px 20px;
		box-sizing: border-box;
		z-index: 1;
	}

	.responsive-bar .logo img {
		height: 50px;
	}

	.nav {
		display: none; // Ajoutez cette ligne pour masquer la barre de navigation
		padding: 0;
	}

	// Masquer les boutons sur les petits écrans
	.btn-azmog {
		display: none;
	}

	// Autres styles pour les petits écrans...

	.active {
		display: block;
	}

	.button-cv,
	.box-text {
		margin-right: 10px;
		margin-top: 10px;
	}

	.titre-adam-h1 {
		font-size: 50px;
		line-height: 50px;
	}

	.text-anim {
		padding-top: 50px;
		text-align: center;
		font-size: 25px;
	}

	nav.color {
		display: none;
	}

	.image-presentation {
		margin-top: px;
	}

	.macbook {
		width: 150%;
	}
}
//FIN SECTION MOBILE

.image-presentation {
	opacity: 1;
	border-radius: 20px;
	width: 100%; /* Ajustez la largeur selon vos besoins */
	max-width: 1000px; /* Ajustez la largeur maximale selon vos besoins */
	margin-top: 20px; /* Ajustez la marge selon vos besoins pour la version mobile */
}

.experience-div {
	margin-top: 100px;
	margin-bottom: 300px;
}

//FIN DIV EXPERIENCE

//card

p {
	line-height: 1.5em;
}

h1 + p,
p + p {
	margin-top: 10px;
}

.container-card-projet {
	padding: 40px 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 300px;
}

.card-wrap {
	margin: 30px;
	transform: perspective(800px);
	transform-style: preserve-3d;
	cursor: pointer;
}
.card-wrap:hover .card-info {
	transform: translateY(0);
}
.card-wrap:hover .card-info p {
	opacity: 1;
}
.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
	transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 1;
	transform: translateY(0);
}
.card-wrap:hover .card-bg {
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0.8;
}
.card-wrap:hover .card {
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
	box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
	position: relative;
	flex: 0 0 240px;
	width: 240px;
	height: 320px;
	background-color: #333;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
	opacity: 0.5;
	position: absolute;
	top: -20px;
	left: -20px;
	width: 100%;
	height: 100%;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	pointer-events: none;
}

.card-info {
	padding: 20px;
	position: absolute;
	bottom: 0;
	color: #fff;
	transform: translateY(40%);
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
	opacity: 0;
	text-shadow: black 0 2px 3px;
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
	position: relative;
	z-index: 1;
}
.card-info:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
	background-blend-mode: overlay;
	opacity: 0;
	transform: translateY(100%);
	transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
	font-family: "Playfair Display";
	font-size: 36px;
	font-weight: 700;
	text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

/* Global box-sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Réinitialisation pour les cartes */
.container-card-projet .card,
.container-card-projet .card * {
	box-sizing: content-box;
}

.container-card-projet .card {
	position: relative;
	flex: 0 0 240px;
	width: 240px;
	height: 320px;
	background-color: #333;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.container-card-projet .card-bg {
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	pointer-events: none;
}

.container-card-projet .card-info {
	padding: 20px;
	position: absolute;
	bottom: 0;
	color: #fff;
	transform: translateY(40%);
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.container-card-projet .card-info p {
	opacity: 0;
	text-shadow: black 0 2px 3px;
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.container-card-projet .card-info * {
	position: relative;
	z-index: 1;
}

.container-card-projet .card-info:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
	background-blend-mode: overlay;
	opacity: 0;
	transform: translateY(100%);
	transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
