.terminal {
	width: 100%;
	height: 400px;
	max-width: 600px;
	background: #fff;
	margin: auto;
	font-size: 1.5rem;
}
.terminal .body {
	background: #000;
	height: 100%;
	border-radius: 0 0 5px 5px;
}
.terminal .title {
	height: 30px;
	width: 100%;
	background: #d7dbdd;
	border-radius: 10px 10px 0 0;
}
.terminal .title h5 {
	padding-left: 10px;
}
.terminal .title span {
	float: right;
	padding-right: 10px;
}
.space {
	height: 50px;
}
