# Node.js
/node_modules

# Next.js
/.next
/out

# Variables d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Base de données SQLite
*.db
*.db-journal
*.db-wal

# TypeScript
*.tsbuildinfo

# Système d'exploitation
.DS_Store
Thumbs.db

# Claude Code
CLAUDE.md
/.claude
/generated/prisma

#Autres
.vscode